# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**
- List popular languages for Data Science
- List popular libraries for Data Science
- Insert code and markdown cells
- Evaluating arithmetic expressions
- Creating tables with content

**Objectives**
- List popular languages for Data Science
- List popular libraries for Data Science
- Insert code and markdown cells
- Evaluating arithmetic expressions
- Creating tables with content

Some of the popular languages that Data Scientist use are:
1. Python
2. SQL
3. R
4. Scala
5. MATLAB
6. Julia

Some of the popular languages that Data Scientist use are:
1. Python
2. SQL
3. R
4. Scala
5. MATLAB
6. Julia

Some of the commonly used libraries used by Data Scientist include:
1. NLTK
2. spaCy
3. Matplotlib
4. NumPy
5. Pandas
6. Scikit-learn

Some of the commonly used libraries used by Data Scientist include:
1. NLTK
2. spaCy
3. Matplotlib
4. NumPy
5. Pandas
6. Scikit-learn

| Data Science Tools|
--------
|RStudio|
|Python|
|Jupyter Notebook|

| Data Science Tools|
--------
|RStudio|
|Python|
|Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This is a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60.

200/60

3.3333333333333335

## Author
Sebastián Ignacio Chevalier Chevalier

## Author
Sebastián Ignacio Chevalier Chevalier